apiVersion: v1
kind: Secret
metadata:
  name: minio-secret
  namespace: longhorn-system
type: Opaque
data:
  AWS_ACCESS_KEY_ID: ZGR2WjVTdmZhTmZpZnhwUQ==
  AWS_SECRET_ACCESS_KEY: bE5TSDNXbzV6UDU5S2Fxb2RQdW9nV1M4TGxPQko1VmE=
  AWS_ENDPOINTS: aHR0cDovLzE5Mi4xNjguMC4yNTE6OTc2OA==
